aiortc
ffmpeg-python
imageio
kaleido
loguru
matplotlib
numpy
#open3d==0.9.0  install if you need
opencv-python
plotly
pyfqmr
pyngrok
pytorch3d  # >= 0.6.1 if for pytorch rendering only
pyyaml
scikit-image
tensorboard
thop
torch
torchgeometry

# for nerfstudio viewer
torchtyping
torchvision
tornado
trimesh
umsgpack
zmq
